*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.mainContain{
    padding: 2em;
    //width: 80%;
    margin: 1em auto;
    background-color: rgba(251,105,100,0.9);
    border-radius: 0.5em;
    font-size: 1.2em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mainContain h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    //background-color: #efefef;
    line-height: 1em;
}

.mainContain a{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 0.5em;
    display: block;
}

.mainContain li:hover{
    background-color: #efefef;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 5px;
}

@media(min-width: 600px){
    .mainContain{
        width: 80%;
        max-width: 800px;
    }
}