*{
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body{
    background-color: #FB6964;
    font-size: 16px;
}

/*设置白色主面板*/
#mainContain{
    background-color: #fff;
    width: 100%;
    margin: 3em auto 1em auto;
    padding: 2em;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*设置引用文本 和 引用作者*/
.quoteText, .quoteAuthor{
    color: #FB6964;
   // border: 1px solid #000;
    margin: 1em;
}

.quoteText{
    font-size: 1.5em;
}

.quoteAuthor{
    text-align: right;
    font-size: 1.1em;
}
/*结束设置引用文本 和 引用作者*/

/*设置按钮部分*/
.buttons{
    //border: 1px solid #000;
    margin: 0.5em;
    font-size: 1em;
}

.button, .buttons #changeQuote{
    background-color: #FB6964;
    border-radius: 4px;
    color: #fff;
    margin: 1em 0.1em;
}

.button:hover, .buttons #changeQuote:hover{
    opacity: 0.9;
}

.button{
    float: left;
    padding: 0.3em 0.6em;
}

.buttons #changeQuote{
    float: right;
    border: none;
    padding: 0.7em 1.5em;
    font-size: 0.8em;
}
/*结束设置按钮部分*/
/*结束设置白色主面板*/

/*设置页脚部分*/
#footer{
    text-align: center;
    color: #fff;
    font-size: 0.5em;
}

a{
    color: #fff;
    text-decoration: none;
}
/*结束设置页脚部分*/

/*当屏幕宽度大于600px时*/
@media screen and (min-width: 600px) {
    #mainContain{
        width: 70%;
        max-width: 800px;
    }
}